<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li 
                    [routerLink]="['/']"
                    class="text-center">
                        <h1 style="color:white" class="cursor">LoseIt</h1>
                </li>
                <li class="nav-devider"></li>
                <li> 
                    <a 
                        [routerLink]="['/']"
                        class="waves-effect waves-dark"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                            <i class="mdi mdi-gauge"></i>
                            <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li> 
                    <a 
                        class="waves-effect waves-dark" 
                        [routerLink]="['/profile']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                        >
                            <i class="mdi mdi-account"></i>
                            <span class="hide-menu">Profile</span>
                    </a>
                </li>
                <li> 
                    <a 
                        [routerLink]="['/rooms']" 
                        class="waves-effect waves-dark"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                            <i class="mdi mdi-border-all"></i>
                            <span class="hide-menu">Rooms</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>